.side
  .side__header
    .side__header__contents
      .side__header__user
        -if user_signed_in?
          =current_user.name
      .side__header__nav
        = link_to new_group_path , class: "side__nav" do
          = icon("fas", "edit")
        =link_to edit_user_path(current_user), class: "side__nav" do
          = icon("fas", "cog")
  .side__menu
    .groups
      - current_user.groups.each do |group| 
        .groups__name
          = link_to "#" do
            = group.name
        .groups__text
          メッセージはありません